/* Normalize/Reset for consistent styling across browsers */
@import 'normalize';

/* Custom styles */
html{
    body {
        .container {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;
            justify-content: center;

            height: 100vh;
        }
    }
}